<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="offsetAsPageNum" value="false" />
			<property name="rowBoundsWithCount" value="false" />
			<property name="pageSizeZero" value="true" />
			<property name="reasonable" value="false" />
			<property name="supportMethodsArguments" value="false" />
			<property name="returnPageInfo" value="none" />
		</plugin>
	</plugins>
	
    <environments default="development">
     <!--    <environment id="development">
            <transactionManager type="JDBC" />
            配置数据库连接信息
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/tr" />
                <property name="username" value="root" />
                <property name="password" value="root" />
            </dataSource>
        </environment> -->
         <environment id="development">
            <transactionManager type="JDBC" />
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/blog" />
                <property name="username" value="root" />
                <property name="password" value="root" />
            </dataSource>
        </environment>
        
    </environments>
    <mappers><!-- 
    <mapper resource="mappers/user-mapper.xml"/> -->
    <mapper resource="mappers/artical-mapper.xml"/>
    <mapper resource="mappers/member-mapper.xml"/>
    </mappers>
</configuration>
